body {
    margin: 0 auto;
    height: 100vh;
    background: linear-gradient(145deg, #4587d2, #7d53b5);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
main {
    padding: 90px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);

}
main, form {
    background-color: #fff;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    border-radius: 10px;
    
}
.flex {
    display: flex;
    align-items: center;
    flex-direction: column;

}
.gap {
    gap: 10px;
}

input {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    outline: none; /* elimina o contorno do input selecionado */
    box-sizing: border-box;
}

input:focus {
    border-bottom-color: #7d53b5;
}

button{
    width: 100%;
    background: linear-gradient(145deg, #4587d2, #7d53b5);
    border: none;
    color: white;
    height: 50px;
    font-size: 16px;
    margin-bottom: 50px;
}

div span{
    font-size: small;
}

div span a{
    color: #2d425a;
    text-decoration: none;
}

